# Iteration

### While loops

Instruct your computer to continously execute your code based on the value of a condition

In [ ]:
x = 0 
while x<5:
    print("Not there yet, x=" +str(x))
    x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [ ]:
def attempts(n):
    x=1
    while x <= n:
        print("Attempt " +str(x))
        x += 1          #this is shorthand version of x=x+1
    print("Done")

In [ ]:
attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

### for loops

Iterates over a sequence of values

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

### About range functions

1.In Python, and a lot of other programming languages, a range of numbers will start with the value o by default.

2.The list of numbers generated will be one less than given value.

In [ ]:
def square(n):
    return n*n

def sum_squares(x):
    sum = 0
    for n in range(x):
      sum += square(n)
    return sum

print(sum_squares(10)) # Should be 285

285

In [ ]:
words = "Hello worlds"
for letter in words:
    print(letter)

H
e
l
l
o

w
o
r
l
d
s

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']   #list of string

for friend in friends:
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(x,to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

## recursion

The repeated application of the same procedure to a smaller problem

In [ ]:
def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)

In [ ]:
factorial(7)

5040

# More examples

In [ ]:
trainees = ['supun', 'charith', 'malan', 'helen']

for trainee in trainees:
  print(trainee)

supun
charith
malan
helen

In [ ]:
words = ['and', 'the', 'they', 'I']

for word in words:
  print(word)

and
the
they
I

In [ ]:
name = "Vimu"

for letter in name:
  print(letter)

V
i
m
u

In [ ]:
for item in range(2, 15, 3):
  if item % 2 == 0:
    print(item, ' is an even number')
  else:
    print(item, ' is an odd number')
  #continue
  if item == 5:
    print('Stoping going forward, starting the loop iteration again')
    continue 
  #break
  if item == 11:
    print('breaking out of the loop')
    break
  print('This is the end of the loop iteration')

2  is an even number
This is the end of the loop iteration
5  is an odd number
Stoping going forward, starting the loop iteration again
8  is an even number
This is the end of the loop iteration
11  is an odd number
breaking out of the loop

In [ ]:
#while 
x = 10 
index = 0

while index < x:
  print(index)
  index += 1

  if index == 5:
    print('Using continue')
    continue
  
  if index == 7:
    break

0
1
2
3
4
Using continue
5
6

In [ ]:
#ENUMERATE
trainees = ['supun', 'charith', 'malan', 'helen']

for index, trainee in enumerate(trainees):
  print(index, " ", trainee)

0   supun
1   charith
2   malan
3   helen

In [ ]:
mydict = { 'name':'vimu', 'age':'25', 'key3':'value3'}

for item in mydict:
  print('key : ', item, ' value: ', mydict[item])

key :  name  value:  vimu
key :  age  value:  25
key :  key3  value:  value3